.container-respaldo {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-file {
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-backup {
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
  }

  .button-backup-chedraui {
    background-color: #ff8800;
    color: #fff;
    font-size: 20px;
  }
  
  .button.restore {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .button.load {
    background-color: #27ae60;
    color: #fff;
  }
  
  .button:hover {
    background-color: #333;
  }
  